# Rails
backend/config/master.key
backend/config/credentials.yml.enc
backend/log/
backend/tmp/
backend/storage/
backend/log/*.log

# Node
frontend/node_modules/
frontend/dist/

# Ambiente
**/.env

# Sistema
.DS_Store


